<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="" version="9">
  <name>CAF Showcase</name>
  <description>Tal is GeverGever</description>
  <author href="http://codletech.net" email="tallevi12@gmail.com">Tal Levi</author>
  <preference name="permissions" value="none"/>
  <preference name="phonegap-version" value="3.6.3"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="7"/>
  <preference name="android-installLocation" value="auto"/>
  <gap:plugin name="org.apache.cordova.device"/>
  <gap:plugin name="org.apache.cordova.splashscreen"/>
  <icon src="icon.png"/>
  <icon src="res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi"/>
  <icon src="res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi"/>
  <icon src="res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi"/>
  <icon src="res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi"/>
  <icon src="res/icon/ios/icon-57.png" gap:platform="ios" height="57" width="57"/>
  <icon src="res/icon/ios/icon-72.png" gap:platform="ios" height="72" width="72"/>
  <icon src="res/icon/ios/icon-76.png" gap:platform="ios" height="76" width="76"/>
  <icon src="res/icon/ios/icon-114.png" gap:platform="ios" height="114" width="114"/>
  <icon src="res/icon/ios/icon-120.png" gap:platform="ios" height="120" width="120"/>
  <icon src="res/icon/ios/icon-152.png" gap:platform="ios" height="152" width="152"/>
  <icon src="res/icon/ios/icon-144.png" gap:platform="ios" height="144" width="144"/>
  <gap:splash src="res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:density="ldpi"/>
  <gap:splash src="res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:density="mdpi"/>
  <gap:splash src="res/screen/android/screen-hdpi-portrait.png" gap:platform="android" gap:density="hdpi"/>
  <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi"/>
  <gap:splash src="res/screen/ios/screen-iphone-portrait.png" gap:platform="ios" height="480" width="320"/>
  <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios" height="960" width="640"/>
  <gap:splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" height="1136" width="640"/>
  <gap:splash src="res/screen/ios/screen-ipad-portrait.png" gap:platform="ios" height="1024" width="768"/>
  <gap:splash src="res/screen/ios/screen-ipad-landscape.png" gap:platform="ios" height="768" width="1024"/>
  <access origin="*"/>
</widget>
