.iconAlignRight{
    float: right;
    margin-right: 2px;
    margin-right: 2px;
}
.iconAlignLeft{
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}
.iconAlignright{
    float: right;
    margin-right: 2px;
    margin-right: 2px;
}
.iconAlignleft{
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

.iconSize0{
    font-size:0px;
}
.iconSize1{
    font-size:1px;
}
.iconSize2{
    font-size:2px;
}
.iconSize3{
    font-size:3px;
}
.iconSize4{
    font-size:4px;
}
.iconSize5{
    font-size:5px;
}
.iconSize6{
    font-size:6px;
}
.iconSize7{
    font-size:7px;
}
.iconSize8{
    font-size:8px;
}
.iconSize9{
    font-size:9px;
}
.iconSize10{
    font-size:10px;
}
.iconSize11{
    font-size:11px;
}
.iconSize12{
    font-size:12px;
}
.iconSize13{
    font-size:13px;
}
.iconSize14{
    font-size:14px;
}
.iconSize15{
    font-size:15px;
}
.iconSize16{
    font-size:16px;
}
.iconSize17{
    font-size:17px;
}
.iconSize18{
    font-size:18px;
}
.iconSize19{
    font-size:19px;
}
.iconSize20{
    font-size:20px;
}
.iconSize21{
    font-size:21px;
}
.iconSize22{
    font-size:22px;
}
.iconSize23{
    font-size:23px;
}
.iconSize24{
    font-size:24px;
}
.iconSize25{
    font-size:25px;
}
.iconSize26{
    font-size:26px;
}
.iconSize27{
    font-size:27px;
}
.iconSize28{
    font-size:28px;
}
.iconSize29{
    font-size:29px;
}
.iconSize30{
    font-size:30px;
}
.iconSize31{
    font-size:31px;
}
.iconSize32{
    font-size:32px;
}
.iconSize33{
    font-size:33px;
}
.iconSize34{
    font-size:34px;
}
.iconSize35{
    font-size:35px;
}
.iconSize36{
    font-size:36px;
}
.iconSize37{
    font-size:37px;
}
.iconSize38{
    font-size:38px;
}
.iconSize39{
    font-size:39px;
}
.iconSize40{
    font-size:40px;
}
.iconSize41{
    font-size:41px;
}
.iconSize42{
    font-size:42px;
}
.iconSize43{
    font-size:43px;
}
.iconSize44{
    font-size:44px;
}
.iconSize45{
    font-size:45px;
}
.iconSize46{
    font-size:46px;
}
.iconSize47{
    font-size:47px;
}
.iconSize48{
    font-size:48px;
}
.iconSize49{
    font-size:49px;
}
.iconSize50{
    font-size:50px;
}
.iconSize51{
    font-size:51px;
}
.iconSize52{
    font-size:52px;
}
.iconSize53{
    font-size:53px;
}
.iconSize54{
    font-size:54px;
}
.iconSize55{
    font-size:55px;
}
.iconSize56{
    font-size:56px;
}
.iconSize57{
    font-size:57px;
}
.iconSize58{
    font-size:58px;
}
.iconSize59{
    font-size:59px;
}
.iconSize60{
    font-size:60px;
}
.iconSize61{
    font-size:61px;
}
.iconSize62{
    font-size:62px;
}
.iconSize63{
    font-size:63px;
}
.iconSize64{
    font-size:64px;
}
.iconSize65{
    font-size:65px;
}
.iconSize66{
    font-size:66px;
}
.iconSize67{
    font-size:67px;
}
.iconSize68{
    font-size:68px;
}
.iconSize69{
    font-size:69px;
}
.iconSize70{
    font-size:70px;
}
.iconSize71{
    font-size:71px;
}
.iconSize72{
    font-size:72px;
}
.iconSize73{
    font-size:73px;
}
.iconSize74{
    font-size:74px;
}
.iconSize75{
    font-size:75px;
}
.iconSize76{
    font-size:76px;
}
.iconSize77{
    font-size:77px;
}
.iconSize78{
    font-size:78px;
}
.iconSize79{
    font-size:79px;
}
.iconSize80{
    font-size:80px;
}
.iconSize81{
    font-size:81px;
}
.iconSize82{
    font-size:82px;
}
.iconSize83{
    font-size:83px;
}
.iconSize84{
    font-size:84px;
}
.iconSize85{
    font-size:85px;
}
.iconSize86{
    font-size:86px;
}
.iconSize87{
    font-size:87px;
}
.iconSize88{
    font-size:88px;
}
.iconSize89{
    font-size:89px;
}
.iconSize90{
    font-size:90px;
}
.iconSize91{
    font-size:91px;
}
.iconSize92{
    font-size:92px;
}
.iconSize93{
    font-size:93px;
}
.iconSize94{
    font-size:94px;
}
.iconSize95{
    font-size:95px;
}
.iconSize96{
    font-size:96px;
}
.iconSize97{
    font-size:97px;
}
.iconSize98{
    font-size:98px;
}
.iconSize99{
    font-size:99px;
}
.iconSize100{
    font-size:100px;
}
.iconSize101{
    font-size:101px;
}
.iconSize102{
    font-size:102px;
}
.iconSize103{
    font-size:103px;
}
.iconSize104{
    font-size:104px;
}
.iconSize105{
    font-size:105px;
}
.iconSize106{
    font-size:106px;
}
.iconSize107{
    font-size:107px;
}
.iconSize108{
    font-size:108px;
}
.iconSize109{
    font-size:109px;
}
.iconSize110{
    font-size:110px;
}
.iconSize111{
    font-size:111px;
}
.iconSize112{
    font-size:112px;
}
.iconSize113{
    font-size:113px;
}
.iconSize114{
    font-size:114px;
}
.iconSize115{
    font-size:115px;
}
.iconSize116{
    font-size:116px;
}
.iconSize117{
    font-size:117px;
}
.iconSize118{
    font-size:118px;
}
.iconSize119{
    font-size:119px;
}
.iconSize120{
    font-size:120px;
}
.iconSize121{
    font-size:121px;
}
.iconSize122{
    font-size:122px;
}
.iconSize123{
    font-size:123px;
}
.iconSize124{
    font-size:124px;
}
.iconSize125{
    font-size:125px;
}
.iconSize126{
    font-size:126px;
}
.iconSize127{
    font-size:127px;
}
.iconSize128{
    font-size:128px;
}
.iconSize129{
    font-size:129px;
}
.iconSize130{
    font-size:130px;
}
.iconSize131{
    font-size:131px;
}
.iconSize132{
    font-size:132px;
}
.iconSize133{
    font-size:133px;
}
.iconSize134{
    font-size:134px;
}
.iconSize135{
    font-size:135px;
}
.iconSize136{
    font-size:136px;
}
.iconSize137{
    font-size:137px;
}
.iconSize138{
    font-size:138px;
}
.iconSize139{
    font-size:139px;
}
.iconSize140{
    font-size:140px;
}
.iconSize141{
    font-size:141px;
}
.iconSize142{
    font-size:142px;
}
.iconSize143{
    font-size:143px;
}
.iconSize144{
    font-size:144px;
}
.iconSize145{
    font-size:145px;
}
.iconSize146{
    font-size:146px;
}
.iconSize147{
    font-size:147px;
}
.iconSize148{
    font-size:148px;
}
.iconSize149{
    font-size:149px;
}
.iconSize150{
    font-size:150px;
}
@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-weight: normal !important;
    font-style: normal;
}.flaticon-add84:before {
	content: "\e000";
}
.flaticon-airplane54:before {
	content: "\e001";
}
.flaticon-align17:before {
	content: "\e002";
}
.flaticon-align18:before {
	content: "\e003";
}
.flaticon-amazon:before {
	content: "\e004";
}
.flaticon-ambulande:before {
	content: "\e005";
}
.flaticon-anchor24:before {
	content: "\e006";
}
.flaticon-android7:before {
	content: "\e007";
}
.flaticon-apple44:before {
	content: "\e008";
}
.flaticon-archive17:before {
	content: "\e009";
}
.flaticon-arrow554:before {
	content: "\e00a";
}
.flaticon-arrow555:before {
	content: "\e00b";
}
.flaticon-arrow556:before {
	content: "\e00c";
}
.flaticon-arrow557:before {
	content: "\e00d";
}
.flaticon-arrow558:before {
	content: "\e00e";
}
.flaticon-arrow559:before {
	content: "\e00f";
}
.flaticon-arrow560:before {
	content: "\e010";
}
.flaticon-arrow561:before {
	content: "\e011";
}
.flaticon-arrow562:before {
	content: "\e012";
}
.flaticon-arrow568:before {
	content: "\e013";
}
.flaticon-arrow569:before {
	content: "\e014";
}
.flaticon-arrow573:before {
	content: "\e015";
}
.flaticon-arrowhead8:before {
	content: "\e016";
}
.flaticon-arrows73:before {
	content: "\e017";
}
.flaticon-asterisk4:before {
	content: "\e018";
}
.flaticon-backward2:before {
	content: "\e019";
}
.flaticon-bag27:before {
	content: "\e01a";
}
.flaticon-barcode6:before {
	content: "\e01b";
}
.flaticon-bars25:before {
	content: "\e01c";
}
.flaticon-beer14:before {
	content: "\e01d";
}
.flaticon-bell21:before {
	content: "\e01e";
}
.flaticon-bell22:before {
	content: "\e01f";
}
.flaticon-bing2:before {
	content: "\e020";
}
.flaticon-bitcoin23:before {
	content: "\e021";
}
.flaticon-bitcoin42:before {
	content: "\e022";
}
.flaticon-bit:before {
	content: "\e023";
}
.flaticon-black216:before {
	content: "\e024";
}
.flaticon-black217:before {
	content: "\e025";
}
.flaticon-blackberry4:before {
	content: "\e026";
}
.flaticon-blind2:before {
	content: "\e027";
}
.flaticon-bold15:before {
	content: "\e028";
}
.flaticon-bookmark15:before {
	content: "\e029";
}
.flaticon-bookmark16:before {
	content: "\e02a";
}
.flaticon-branch3:before {
	content: "\e02b";
}
.flaticon-broken23:before {
	content: "\e02c";
}
.flaticon-bug11:before {
	content: "\e02d";
}
.flaticon-building26:before {
	content: "\e02e";
}
.flaticon-bullhorn2:before {
	content: "\e02f";
}
.flaticon-calendar73:before {
	content: "\e030";
}
.flaticon-calendar75:before {
	content: "\e031";
}
.flaticon-certificate12:before {
	content: "\e032";
}
.flaticon-check36:before {
	content: "\e033";
}
.flaticon-check37:before {
	content: "\e034";
}
.flaticon-check38:before {
	content: "\e035";
}
.flaticon-check39:before {
	content: "\e036";
}
.flaticon-check41:before {
	content: "\e037";
}
.flaticon-check42:before {
	content: "\e038";
}
.flaticon-circle56:before {
	content: "\e039";
}
.flaticon-circle57:before {
	content: "\e03a";
}
.flaticon-circle59:before {
	content: "\e03b";
}
.flaticon-circle62:before {
	content: "\e03c";
}
.flaticon-circle63:before {
	content: "\e03d";
}
.flaticon-circle64:before {
	content: "\e03e";
}
.flaticon-clock52:before {
	content: "\e03f";
}
.flaticon-close21:before {
	content: "\e040";
}
.flaticon-closed45:before {
	content: "\e041";
}
.flaticon-cloud213:before {
	content: "\e042";
}
.flaticon-cloud214:before {
	content: "\e043";
}
.flaticon-code19:before {
	content: "\e044";
}
.flaticon-code22:before {
	content: "\e045";
}
.flaticon-coffee32:before {
	content: "\e046";
}
.flaticon-cogwheel15:before {
	content: "\e047";
}
.flaticon-cogwheels5:before {
	content: "\e048";
}
.flaticon-comment34:before {
	content: "\e049";
}
.flaticon-compass52:before {
	content: "\e04a";
}
.flaticon-compress:before {
	content: "\e04b";
}
.flaticon-contrast13:before {
	content: "\e04c";
}
.flaticon-copy13:before {
	content: "\e04d";
}
.flaticon-credit57:before {
	content: "\e04e";
}
.flaticon-crop5:before {
	content: "\e04f";
}
.flaticon-cross55:before {
	content: "\e050";
}
.flaticon-crosshair9:before {
	content: "\e051";
}
.flaticon-css9:before {
	content: "\e052";
}
.flaticon-dashboard4:before {
	content: "\e053";
}
.flaticon-directional10:before {
	content: "\e054";
}
.flaticon-dollar104:before {
	content: "\e055";
}
.flaticon-dot1:before {
	content: "\e056";
}
.flaticon-double52:before {
	content: "\e057";
}
.flaticon-double53:before {
	content: "\e058";
}
.flaticon-double54:before {
	content: "\e059";
}
.flaticon-double56:before {
	content: "\e05a";
}
.flaticon-down21:before {
	content: "\e05b";
}
.flaticon-down33:before {
	content: "\e05c";
}
.flaticon-download70:before {
	content: "\e05d";
}
.flaticon-dribbble9:before {
	content: "\e05e";
}
.flaticon-dropbox16:before {
	content: "\e05f";
}
.flaticon-earth31:before {
	content: "\e060";
}
.flaticon-ebay2:before {
	content: "\e061";
}
.flaticon-ellipsis:before {
	content: "\e062";
}
.flaticon-emoticon14:before {
	content: "\e063";
}
.flaticon-envelope29:before {
	content: "\e064";
}
.flaticon-eraser6:before {
	content: "\e065";
}
.flaticon-eraser7:before {
	content: "\e066";
}
.flaticon-euro33:before {
	content: "\e067";
}
.flaticon-exclamation11:before {
	content: "\e068";
}
.flaticon-exclamation14:before {
	content: "\e069";
}
.flaticon-expand19:before {
	content: "\e06a";
}
.flaticon-external3:before {
	content: "\e06b";
}
.flaticon-external4:before {
	content: "\e06c";
}
.flaticon-external5:before {
	content: "\e06d";
}
.flaticon-eye79:before {
	content: "\e06e";
}
.flaticon-facebook33:before {
	content: "\e06f";
}
.flaticon-fast21:before {
	content: "\e070";
}
.flaticon-fast23:before {
	content: "\e071";
}
.flaticon-female132:before {
	content: "\e072";
}
.flaticon-fighter4:before {
	content: "\e073";
}
.flaticon-file33:before {
	content: "\e074";
}
.flaticon-file34:before {
	content: "\e075";
}
.flaticon-file39:before {
	content: "\e076";
}
.flaticon-film42:before {
	content: "\e077";
}
.flaticon-film44:before {
	content: "\e078";
}
.flaticon-filter14:before {
	content: "\e079";
}
.flaticon-fire24:before {
	content: "\e07a";
}
.flaticon-fire25:before {
	content: "\e07b";
}
.flaticon-fire26:before {
	content: "\e07c";
}
.flaticon-flag34:before {
	content: "\e07d";
}
.flaticon-flag35:before {
	content: "\e07e";
}
.flaticon-flag36:before {
	content: "\e07f";
}
.flaticon-flash14:before {
	content: "\e080";
}
.flaticon-flask5:before {
	content: "\e081";
}
.flaticon-flickr10:before {
	content: "\e082";
}
.flaticon-flickr11:before {
	content: "\e083";
}
.flaticon-flickr14:before {
	content: "\e084";
}
.flaticon-flickr15:before {
	content: "\e085";
}
.flaticon-folder114:before {
	content: "\e086";
}
.flaticon-forward14:before {
	content: "\e087";
}
.flaticon-foursquare8:before {
	content: "\e088";
}
.flaticon-garbage9:before {
	content: "\e089";
}
.flaticon-gift53:before {
	content: "\e08a";
}
.flaticon-github15:before {
	content: "\e08b";
}
.flaticon-github16:before {
	content: "\e08c";
}
.flaticon-github17:before {
	content: "\e08d";
}
.flaticon-github20:before {
	content: "\e08e";
}
.flaticon-gittip1:before {
	content: "\e08f";
}
.flaticon-gittip2:before {
	content: "\e090";
}
.flaticon-glass19:before {
	content: "\e091";
}
.flaticon-google40:before {
	content: "\e092";
}
.flaticon-google45:before {
	content: "\e093";
}
.flaticon-half17:before {
	content: "\e094";
}
.flaticon-hard12:before {
	content: "\e095";
}
.flaticon-headset5:before {
	content: "\e096";
}
.flaticon-heart215:before {
	content: "\e097";
}
.flaticon-heart217:before {
	content: "\e098";
}
.flaticon-home99:before {
	content: "\e099";
}
.flaticon-hospital12:before {
	content: "\e09a";
}
.flaticon-hospital13:before {
	content: "\e09b";
}
.flaticon-html15:before {
	content: "\e09c";
}
.flaticon-image63:before {
	content: "\e09d";
}
.flaticon-inbox22:before {
	content: "\e09e";
}
.flaticon-indent4:before {
	content: "\e09f";
}
.flaticon-info14:before {
	content: "\e0a0";
}
.flaticon-information43:before {
	content: "\e0a1";
}
.flaticon-ink7:before {
	content: "\e0a2";
}
.flaticon-instagram7:before {
	content: "\e0a3";
}
.flaticon-inverted4:before {
	content: "\e0a4";
}
.flaticon-italic4:before {
	content: "\e0a5";
}
.flaticon-joystick7:before {
	content: "\e0a6";
}
.flaticon-key68:before {
	content: "\e0a7";
}
.flaticon-keyboard41:before {
	content: "\e0a8";
}
.flaticon-label10:before {
	content: "\e0a9";
}
.flaticon-label11:before {
	content: "\e0aa";
}
.flaticon-laptop67:before {
	content: "\e0ab";
}
.flaticon-large16:before {
	content: "\e0ac";
}
.flaticon-leaf40:before {
	content: "\e0ad";
}
.flaticon-left46:before {
	content: "\e0ae";
}
.flaticon-left48:before {
	content: "\e0af";
}
.flaticon-left57:before {
	content: "\e0b0";
}
.flaticon-left62:before {
	content: "\e0b1";
}
.flaticon-left63:before {
	content: "\e0b2";
}
.flaticon-legal6:before {
	content: "\e0b3";
}
.flaticon-legal7:before {
	content: "\e0b4";
}
.flaticon-lemon5:before {
	content: "\e0b5";
}
.flaticon-letter31:before {
	content: "\e0b6";
}
.flaticon-letter32:before {
	content: "\e0b7";
}
.flaticon-level3:before {
	content: "\e0b8";
}
.flaticon-level4:before {
	content: "\e0b9";
}
.flaticon-lightbulb19:before {
	content: "\e0ba";
}
.flaticon-link26:before {
	content: "\e0bb";
}
.flaticon-linkedin14:before {
	content: "\e0bc";
}
.flaticon-linkedin16:before {
	content: "\e0bd";
}
.flaticon-linux6:before {
	content: "\e0be";
}
.flaticon-list42:before {
	content: "\e0bf";
}
.flaticon-list43:before {
	content: "\e0c0";
}
.flaticon-list44:before {
	content: "\e0c1";
}
.flaticon-lock32:before {
	content: "\e0c2";
}
.flaticon-magnet5:before {
	content: "\e0c3";
}
.flaticon-magnifier21:before {
	content: "\e0c4";
}
.flaticon-magnifying42:before {
	content: "\e0c5";
}
.flaticon-male165:before {
	content: "\e0c6";
}
.flaticon-map65:before {
	content: "\e0c7";
}
.flaticon-maxcdn1:before {
	content: "\e0c8";
}
.flaticon-medical40:before {
	content: "\e0c9";
}
.flaticon-menu24:before {
	content: "\e0ca";
}
.flaticon-microphone54:before {
	content: "\e0cb";
}
.flaticon-microphone56:before {
	content: "\e0cc";
}
.flaticon-minus28:before {
	content: "\e0cd";
}
.flaticon-minus29:before {
	content: "\e0ce";
}
.flaticon-minus30:before {
	content: "\e0cf";
}
.flaticon-minus34:before {
	content: "\e0d0";
}
.flaticon-minus35:before {
	content: "\e0d1";
}
.flaticon-minus36:before {
	content: "\e0d2";
}
.flaticon-minus37:before {
	content: "\e0d3";
}
.flaticon-mobile173:before {
	content: "\e0d4";
}
.flaticon-money46:before {
	content: "\e0d5";
}
.flaticon-monitor47:before {
	content: "\e0d6";
}
.flaticon-moon24:before {
	content: "\e0d7";
}
.flaticon-move15:before {
	content: "\e0d8";
}
.flaticon-move16:before {
	content: "\e0d9";
}
.flaticon-musical70:before {
	content: "\e0da";
}
.flaticon-open139:before {
	content: "\e0db";
}
.flaticon-open140:before {
	content: "\e0dc";
}
.flaticon-open141:before {
	content: "\e0dd";
}
.flaticon-outdent:before {
	content: "\e0de";
}
.flaticon-paper95:before {
	content: "\e0df";
}
.flaticon-paperclip12:before {
	content: "\e0e0";
}
.flaticon-paste3:before {
	content: "\e0e1";
}
.flaticon-pause21:before {
	content: "\e0e2";
}
.flaticon-paypal8:before {
	content: "\e0e3";
}
.flaticon-pencil47:before {
	content: "\e0e4";
}
.flaticon-pencil48:before {
	content: "\e0e5";
}
.flaticon-pencil52:before {
	content: "\e0e6";
}
.flaticon-phone93:before {
	content: "\e0e7";
}
.flaticon-phone94:before {
	content: "\e0e8";
}
.flaticon-phone95:before {
	content: "\e0e9";
}
.flaticon-photo54:before {
	content: "\e0ea";
}
.flaticon-pinterest16:before {
	content: "\e0eb";
}
.flaticon-pinterest17:before {
	content: "\e0ec";
}
.flaticon-pinterest18:before {
	content: "\e0ed";
}
.flaticon-pinterest19:before {
	content: "\e0ee";
}
.flaticon-pinterest20:before {
	content: "\e0ef";
}
.flaticon-pinterest22:before {
	content: "\e0f0";
}
.flaticon-play51:before {
	content: "\e0f1";
}
.flaticon-play52:before {
	content: "\e0f2";
}
.flaticon-play55:before {
	content: "\e0f3";
}
.flaticon-plus36:before {
	content: "\e0f4";
}
.flaticon-plus37:before {
	content: "\e0f5";
}
.flaticon-plus38:before {
	content: "\e0f6";
}
.flaticon-plus39:before {
	content: "\e0f7";
}
.flaticon-plus40:before {
	content: "\e0f8";
}
.flaticon-pound15:before {
	content: "\e0f9";
}
.flaticon-power55:before {
	content: "\e0fa";
}
.flaticon-print23:before {
	content: "\e0fb";
}
.flaticon-profile25:before {
	content: "\e0fc";
}
.flaticon-puzzle18:before {
	content: "\e0fd";
}
.flaticon-question30:before {
	content: "\e0fe";
}
.flaticon-question33:before {
	content: "\e0ff";
}
.flaticon-question35:before {
	content: "\e100";
}
.flaticon-question36:before {
	content: "\e101";
}
.flaticon-quote4:before {
	content: "\e102";
}
.flaticon-rectangular49:before {
	content: "\e103";
}
.flaticon-renren1:before {
	content: "\e104";
}
.flaticon-reply11:before {
	content: "\e105";
}
.flaticon-reply12:before {
	content: "\e106";
}
.flaticon-reply13:before {
	content: "\e107";
}
.flaticon-reply14:before {
	content: "\e108";
}
.flaticon-reply15:before {
	content: "\e109";
}
.flaticon-restaurant22:before {
	content: "\e10a";
}
.flaticon-retro7:before {
	content: "\e10b";
}
.flaticon-retweet6:before {
	content: "\e10c";
}
.flaticon-right43:before {
	content: "\e10d";
}
.flaticon-right47:before {
	content: "\e10e";
}
.flaticon-right48:before {
	content: "\e10f";
}
.flaticon-right49:before {
	content: "\e110";
}
.flaticon-right50:before {
	content: "\e111";
}
.flaticon-right51:before {
	content: "\e112";
}
.flaticon-right64:before {
	content: "\e113";
}
.flaticon-right65:before {
	content: "\e114";
}
.flaticon-right66:before {
	content: "\e115";
}
.flaticon-road18:before {
	content: "\e116";
}
.flaticon-rocket22:before {
	content: "\e117";
}
.flaticon-rotating16:before {
	content: "\e118";
}
.flaticon-rss36:before {
	content: "\e119";
}
.flaticon-rss38:before {
	content: "\e11a";
}
.flaticon-rub:before {
	content: "\e11b";
}
.flaticon-save10:before {
	content: "\e11c";
}
.flaticon-scissors19:before {
	content: "\e11d";
}
.flaticon-search38:before {
	content: "\e11e";
}
.flaticon-serious:before {
	content: "\e11f";
}
.flaticon-share20:before {
	content: "\e120";
}
.flaticon-shield57:before {
	content: "\e121";
}
.flaticon-shopping136:before {
	content: "\e122";
}
.flaticon-signal39:before {
	content: "\e123";
}
.flaticon-sitemap2:before {
	content: "\e124";
}
.flaticon-skype15:before {
	content: "\e125";
}
.flaticon-small159:before {
	content: "\e126";
}
.flaticon-smile5:before {
	content: "\e127";
}
.flaticon-sort31:before {
	content: "\e128";
}
.flaticon-sort32:before {
	content: "\e129";
}
.flaticon-sort33:before {
	content: "\e12a";
}
.flaticon-sort34:before {
	content: "\e12b";
}
.flaticon-sort35:before {
	content: "\e12c";
}
.flaticon-sort36:before {
	content: "\e12d";
}
.flaticon-sort37:before {
	content: "\e12e";
}
.flaticon-sort38:before {
	content: "\e12f";
}
.flaticon-sort39:before {
	content: "\e130";
}
.flaticon-speaker50:before {
	content: "\e131";
}
.flaticon-speaker54:before {
	content: "\e132";
}
.flaticon-spinner9:before {
	content: "\e133";
}
.flaticon-square83:before {
	content: "\e134";
}
.flaticon-square84:before {
	content: "\e135";
}
.flaticon-square85:before {
	content: "\e136";
}
.flaticon-square92:before {
	content: "\e137";
}
.flaticon-stack18:before {
	content: "\e138";
}
.flaticon-stack19:before {
	content: "\e139";
}
.flaticon-star108:before {
	content: "\e13a";
}
.flaticon-star109:before {
	content: "\e13b";
}
.flaticon-star111:before {
	content: "\e13c";
}
.flaticon-star112:before {
	content: "\e13d";
}
.flaticon-step3:before {
	content: "\e13e";
}
.flaticon-step4:before {
	content: "\e13f";
}
.flaticon-stop26:before {
	content: "\e140";
}
.flaticon-subscript:before {
	content: "\e141";
}
.flaticon-sun43:before {
	content: "\e142";
}
.flaticon-sun44:before {
	content: "\e143";
}
.flaticon-superscript1:before {
	content: "\e144";
}
.flaticon-table34:before {
	content: "\e145";
}
.flaticon-tablet60:before {
	content: "\e146";
}
.flaticon-tachometer:before {
	content: "\e147";
}
.flaticon-talk3:before {
	content: "\e148";
}
.flaticon-talk4:before {
	content: "\e149";
}
.flaticon-tasks1:before {
	content: "\e14a";
}
.flaticon-terminal10:before {
	content: "\e14b";
}
.flaticon-text76:before {
	content: "\e14c";
}
.flaticon-text78:before {
	content: "\e14d";
}
.flaticon-text83:before {
	content: "\e14e";
}
.flaticon-text84:before {
	content: "\e14f";
}
.flaticon-three82:before {
	content: "\e150";
}
.flaticon-thumb19:before {
	content: "\e151";
}
.flaticon-thumb20:before {
	content: "\e152";
}
.flaticon-thumb21:before {
	content: "\e153";
}
.flaticon-thumb22:before {
	content: "\e154";
}
.flaticon-thumb23:before {
	content: "\e155";
}
.flaticon-ticket10:before {
	content: "\e156";
}
.flaticon-toggle2:before {
	content: "\e157";
}
.flaticon-trello1:before {
	content: "\e158";
}
.flaticon-triangles1:before {
	content: "\e159";
}
.flaticon-triangular32:before {
	content: "\e15a";
}
.flaticon-trophy11:before {
	content: "\e15b";
}
.flaticon-truck24:before {
	content: "\e15c";
}
.flaticon-tumblr13:before {
	content: "\e15d";
}
.flaticon-tumblr14:before {
	content: "\e15e";
}
.flaticon-turkish2:before {
	content: "\e15f";
}
.flaticon-twitter24:before {
	content: "\e160";
}
.flaticon-twitter25:before {
	content: "\e161";
}
.flaticon-twitter28:before {
	content: "\e162";
}
.flaticon-two151:before {
	content: "\e163";
}
.flaticon-umbrella23:before {
	content: "\e164";
}
.flaticon-underline4:before {
	content: "\e165";
}
.flaticon-undo16:before {
	content: "\e166";
}
.flaticon-unlock8:before {
	content: "\e167";
}
.flaticon-unlock9:before {
	content: "\e168";
}
.flaticon-up41:before {
	content: "\e169";
}
.flaticon-up42:before {
	content: "\e16a";
}
.flaticon-up43:before {
	content: "\e16b";
}
.flaticon-up55:before {
	content: "\e16c";
}
.flaticon-upload46:before {
	content: "\e16d";
}
.flaticon-upload48:before {
	content: "\e16e";
}
.flaticon-upload49:before {
	content: "\e16f";
}
.flaticon-user108:before {
	content: "\e170";
}
.flaticon-user98:before {
	content: "\e171";
}
.flaticon-user99:before {
	content: "\e172";
}
.flaticon-users12:before {
	content: "\e173";
}
.flaticon-users13:before {
	content: "\e174";
}
.flaticon-video121:before {
	content: "\e175";
}
.flaticon-vimeo14:before {
	content: "\e176";
}
.flaticon-vimeo16:before {
	content: "\e177";
}
.flaticon-vimeo18:before {
	content: "\e178";
}
.flaticon-vk2:before {
	content: "\e179";
}
.flaticon-volume39:before {
	content: "\e17a";
}
.flaticon-warning23:before {
	content: "\e17b";
}
.flaticon-warning25:before {
	content: "\e17c";
}
.flaticon-weibo1:before {
	content: "\e17d";
}
.flaticon-whatsapp2:before {
	content: "\e17e";
}
.flaticon-wheelchair4:before {
	content: "\e17f";
}
.flaticon-wheelchair5:before {
	content: "\e180";
}
.flaticon-white73:before {
	content: "\e181";
}
.flaticon-white74:before {
	content: "\e182";
}
.flaticon-white75:before {
	content: "\e183";
}
.flaticon-windows31:before {
	content: "\e184";
}
.flaticon-wrench46:before {
	content: "\e185";
}
.flaticon-xing7:before {
	content: "\e186";
}
.flaticon-xing9:before {
	content: "\e187";
}
.flaticon-yahoo8:before {
	content: "\e188";
}
.flaticon-yen22:before {
	content: "\e189";
}
.flaticon-youtube19:before {
	content: "\e18a";
}
.flaticon-youtube20:before {
	content: "\e18b";
}
.flaticon-youtube21:before {
	content: "\e18c";
}
.flaticon-youtube23:before {
	content: "\e18d";
}
.flaticon-youtube27:before {
	content: "\e18e";
}
